:root {
    --font-color: #000;
    --bg-color: #76C9FA;
    --element-bg-color: #d9f1ff79;
    --shadow: 0 0 5px #493c3c;
}
[data-theme="dark"] {
    --font-color: #c1bfbd;
    --bg-color: #07080A;
    --element-bg-color: #3a3a3a79;
}

body {
    color: var(--font-color);
    background: var(--bg-color);
    height: 100vh;
}

nav {
    width: 100%;
    position: fixed !important;
    top:0;
    transition: background-color 1s linear;
    -webkit-transition: background-color 1s linear;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: calc(2rem + 3rem);
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem !important;
}

.element,
.graph {
    background-color: var(--element-bg-color);
    border-radius: 10px;
    border: 1px solid #000;
    padding: 1rem;
    gap: 1rem;
    margin: 0 2rem;
    box-shadow: var(--shadow);
}

input[type="range"] {
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

input {
    position: absolute;
    min-width: 260px;
    min-height: 280px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

#close {
    transition: top .5s;
}

.lights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light {
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 80px;
    max-width: 70px;
    max-height: 80px;
}

.light img {
    position: absolute;
    overflow: hidden;
    max-width: 70px;
    max-height: 80px;
    cursor: pointer;
}

.window-image {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 280px;
    max-width: 260px;
    max-height: 280px;
}

.window-image img {
    position: absolute;
    overflow: hidden;
    max-width: 260px;
    max-height: 280px;
    pointer-events: none;
}

#day, #night {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#light-on, #light-off {
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

#light-on {
    opacity: 0;
}

.window-info,
.lights-info,
#clock {
    font-weight: bold;
    font-size: 1.25rem;
    text-shadow: var(--shadow);
    text-align: center;
    margin: 0;
}

#clock {
    font-size: 1.75rem;
}

#lights-status {
    color: red;
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph:nth-child(2) {
    max-height: 220px;
    justify-content: start;
}

.graph-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: var(--shadow);
    text-align: center;
    margin: 0;
}