input[type = "range"]{
    appearance: slider-vertical;
    -webkit-appearance: slider-vertical
}

.window{
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 200px;
    max-width: 400px;
    max-height: 200px;
}
.window img {
    position: absolute;
    overflow: hidden;
    max-width: 400px;
    max-height: 200px;
}
#day, #night {
    transition: display 1s;
}