:root {
    --font-color: #000;
    --link-white-color:#fff;
    --bg-color: #76C9FA;
}
[data-theme="dark"] {
    --font-color: #c1bfbd;
    --link-white-color:#c1bfbd;
    --bg-color: #07080A;
}

body {
    color:#000;
    color: var(--font-color);
    background:#76C9FA;
    background: var(--bg-color);
}

#timeline{
    width: 70%;
}

nav {
    position:fixed;
    top:0;
    transition: background-color 1s linear;
    -webkit-transition: background-color 1s linear;
}

main{
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

input[type="range"] {
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

input {
    position: absolute;
    min-width: 260px;
    min-height: 280px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

#close {
    transition: top .5s;
}

.lights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.light {
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 80px;
    max-width: 70px;
    max-height: 80px;
}

.light img {
    position: absolute;
    overflow: hidden;
    max-width: 70px;
    max-height: 80px;
    cursor: pointer;
}

.window {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 280px;
    max-width: 260px;
    max-height: 280px;
}

.window img {
    position: absolute;
    overflow: hidden;
    max-width: 260px;
    max-height: 280px;
    pointer-events: none;
}

#day, #night {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#light-on, #light-off {
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

#light-on {
    opacity: 0;
}

.window-info,
.lights-info,
#time {
    margin: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 0 0 5px #3c4149;
    text-align: center;
}

.lights-info, #time {
    margin: 1rem;
}

#lights-status {
    color: red;
}

.heading {
    display: flex;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(185, 184, 184, 0.3);
    margin-top: 2rem;
}